@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.bottom-section-container{
}

.carousel-dimensions{
     height:1vh;
}
.goa-card-container{
    padding:20px;
    margin:7px;
}
.goa-card-heading{
    font-family:Roboto;
    font-size:30px;
    color:#323f4b;
    font-weight:bold;
}
.goa-card-paragraph{
    font-family:Roboto;
    font-size:23px;
    color:#9aa5b1;
}
.more-pictures-spacing{
    width:200px;
    height:200px;
    margin:7px;
}
.video-spacing{
    margin:7px;
   height:200px;
  width:200px;
}
.video-alingnment{
    border-radius:15px;
}